
<div class="jumbotron mt-3 border border-dark">
  <h1 class="text-center mt-3"> <%= @title %> <i class="fas fa-running"></i></h1>
  <p class="text-center"><em><%= @description %></em></p>
</div>
  <%= render partial: "listings/all_listings" %>
